
@*@{
    ViewBag.Title = "OrderExamManage";
}

<h2>OrderExamManage</h2>*@





@using Abp.Web.Mvc.Extensions
@{
    ViewBag.ActiveMenu = "OrderExamManage";
}

@section Styles
{
    @Html.IncludeStyle("~/beyondadmin/assets/css/dataTables.bootstrap.css")
}
@section Scripts
{
    @Html.IncludeScript("~/beyondadmin/assets/js/datatable/jquery.dataTables.min.js")
    @Html.IncludeScript("~/beyondadmin/assets/js/datatable/dataTables.tableTools.min.js")
    @Html.IncludeScript("~/beyondadmin/assets/js/datatable/dataTables.bootstrap.min.js")
    @Html.IncludeScript("~/beyondadmin/assets/js/datatable/datatables-extend.js")
    @Html.IncludeScript("~/beyondadmin/assets/js/validation/bootstrapValidator.js")

    @Html.IncludeScript("~/Views/Manage/OrderExamManage.js")
}


<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="@Url.Action("Index")">首页</a>
            </li>
            <li>
                <a href="@Url.Action("Course")">课程管理</a>
            </li>
            <li class="active">学生选课信息</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                当前预约考试的学生信息
            </h1>
        </div>
        <!--Header Buttons-->
        <div class="header-buttons">
            <a class="sidebar-toggler" href="#">
                <i class="fa fa-arrows-h"></i>
            </a>
            <a class="refresh" id="refresh-toggler" href="">
                <i class="glyphicon glyphicon-refresh"></i>
            </a>
            <a class="fullscreen" id="fullscreen-toggler" href="#">
                <i class="glyphicon glyphicon-fullscreen"></i>
            </a>
        </div>
        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body">
                        <input type="hidden" id="txtCourseId" value="@ViewBag.StudentExamTimeId" />
                        @*<div class="table-toolbar">
                            <a class="btn btn-default" href="@Url.Action("Course")"><i class="fa fa-chevron-left"></i> 返回课程列表</a>
                        </div>*@
                        <table class="table table-striped table-bordered table-hover" id="studentExamTimeTable">
                            <thead>
                                <tr>
                                    <th style="width: 100px;">
                                        序号
                                    </th>
                                    <th>
                                        所属项目
                                    </th>
                                    <th>
                                        课程名称
                                    </th>
                                    <th>
                                        授课教师
                                    </th>
                                    <th>
                                        考试时间
                                    </th>
                                    <th>
                                        考试地点
                                    </th>
                                    <th>
                                        学生姓名
                                    </th>
                                    <th>
                                        学生学号
                                    </th>
                                    <th>
                                        性别
                                    </th>
                                    <th style="width: 80px;">
                                        操作
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Body -->
    </div>
</div>



