@using Abp.Web.Mvc.Extensions
@model CourseSelecting.Web.Models.Manage.StudentDetailsModel

@{
    ViewBag.ActiveMenu = "StudentManage";
}

@section Styles
{
    @Html.IncludeStyle("~/beyondadmin/assets/css/dataTables.bootstrap.css")
}
@section Scripts
{
    @Html.IncludeScript("~/beyondadmin/assets/js/select2/select2.js")
    @Html.IncludeScript("~/beyondadmin/assets/js/validation/bootstrapValidator.js")
    @Html.IncludeScript("~/Views/Manage/StudentEdit.js")
}


<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="@Url.Action("Index")">首页</a>
            </li>
            <li>
                <a href="@Url.Action("Student")">学生管理</a>
            </li>
            <li class="active">编辑学生</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                编辑学生
            </h1>
        </div>
        <!--Header Buttons-->
        <div class="header-buttons">
            <a class="sidebar-toggler" href="#">
                <i class="fa fa-arrows-h"></i>
            </a>
            <a class="refresh" id="refresh-toggler" href="">
                <i class="glyphicon glyphicon-refresh"></i>
            </a>
            <a class="fullscreen" id="fullscreen-toggler" href="#">
                <i class="glyphicon glyphicon-fullscreen"></i>
            </a>
        </div>
        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget  radius-bordered">
                    <div class="widget-header">
                        <span class="widget-caption"></span>
                    </div>
                    <div class="widget-body">
                        <div class="docs-example">
                            <ul class="nav nav-tabs tabs-flat">
                                <li class="active"><a href="#info-tab" data-toggle="tab">学生基础信息</a></li>
                            </ul>
                            <form id="formAddStudent" method="post" class="form-horizontal bv-form" novalidate="novalidate">
                                <div class="tab-content tabs-flat">
                                    <div class="tab-pane active" id="info-tab">
                                        @*<div class="form-group has-feedback">
                                            <label class="col-lg-3 control-label">学生学号</label>
                                            <div class="col-lg-9">
                                                <input type="hidden" id="lblStudentId" value="@Model.Student.Id" />
                                                <input type="text" value="@Model.Student.StudentNo" class="form-control" name="studentNo" data-bv-field="studentNo"><i class="form-control-feedback" data-bv-field="fullName" style="display: none;"></i>
                                            </div>
                                        </div>*@
                                        <div class="form-group has-feedback">
                                            <label class="col-lg-3 control-label">学生姓名</label>
                                            <div class="col-lg-9">
                                                <input type="text" value="@Model.Student.Name" class="form-control" name="studentName" data-bv-field="studentName"><i class="form-control-feedback" data-bv-field="studentName" style="display: none;"></i>
                                            </div>
                                        </div>
                                        @*<div class="form-group has-feedback">
                                            <label class="col-lg-3 control-label">入学日期</label>
                                            <div class="col-lg-9">
                                                <input type="text" value="@Model.Student.EntryDate.ToString("yyyy-MM-dd")" class="form-control" name="studentEntryDate" placeholder="入学时间       如：2016/09/01"><i class="form-control-feedback" style="display: none;"></i>
                                            </div>
                                        </div>*@
                                        @*<div class="form-group has-feedback">
                                            <label class="col-lg-3 control-label">院系</label>
                                            <div class="col-lg-9">
                                                <input type="text" value="@Model.Student.Department" class="form-control" name="department" data-bv-field="department"><i class="form-control-feedback" data-bv-field="jobTitle" style="display: none;"></i>
                                            </div>
                                        </div>*@
                                        @*<div class="form-group has-feedback">
                                            <label class="col-lg-3 control-label">院系</label>
                                            <div class="col-lg-9">
                                                <select value="@Model.Student.Department"  class="form-control" data-bv-field="department" name="department">
                                                    <i class="form-control-feedback" data-bv-field="jobTitle" style="display: none;"></i>
                                                    <option value=""></option>
                                                    <option value="计算机学院" @(Model.Student.Department.Style == "项目模式一" ? "selected='selected'" : "")>计算机学院</option>
                                                    <option value="医学院">医学院</option>
                                                   
                                                    <option value="other">Other</option>
                                                </select>
                                            </div>
                                        </div>*@

                                        <div class="form-group has-feedback">
                                            <label class="col-lg-3 control-label">院系</label>
                                            <div class="col-lg-9">
                                                <div>
                                                    <select id="department" name="department" style="width: 100%;" data-placeholder="请选择院系" tabindex="-1">
                                                        <option value=""></option>
                                                        @foreach (var itemstr in L("StudentSelectValueDepartment").Split(new[] { "," }, StringSplitOptions.RemoveEmptyEntries))
                                                        {
                                                            <option value="@itemstr" @(Model.Student.Department == itemstr ? "selected='selected'" : "")>@itemstr</option>
                                                        }
                                                        @*<option value="请选择院系">请选择院系</option>
                                                        <option value="计算机学院"  @(Model.Student.Department == "计算机学院" ? "selected='selected'" : "")>计算机学院</option>
                                                        <option value="医学院"  @(Model.Student.Department == "医学院" ? "selected='selected'" : "")>医学院</option>*@
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="form-group has-feedback">
                                            <label class="col-lg-3 control-label">专业</label>
                                            <div class="col-lg-9">
                                                <input type="text" value="@Model.Student.Major" class="form-control" name="major" data-bv-field="major"><i class="form-control-feedback" data-bv-field="major" style="display: none;"></i>
                                            </div>
                                        </div>*@
                                      

                                        <div class="form-group has-feedback">
                                            <label class="col-lg-3 control-label">专业</label>
                                            <div class="col-lg-9">
                                                <div>
                                                    <select id="major" name="major" style="width: 100%;" data-placeholder="请选择专业" tabindex="-1">
                                                        <option value=""></option>
                                                        @foreach (var itemstr in L("StudentSelectValueMajor").Split(new[] { "," }, StringSplitOptions.RemoveEmptyEntries))
                                                        {
                                                            <option value="@itemstr" @(Model.Student.Major == itemstr ? "selected='selected'" : "")>@itemstr</option>
                                                        }
                                                        @*<option value="请选择专业">请选择专业</option>
                                                        <option value="软件工程" @(Model.Student.Major == "软件工程" ? "selected='selected'" : "")>软件工程</option>
                                                        <option value="临床医学" @(Model.Student.Major == "临床医学" ? "selected='selected'" : "")>临床医学</option>*@
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="form-group has-feedback">
                                            <label class="col-lg-3 control-label">性别</label>
                                            <div class="col-lg-9">
                                                <input type="text" value="@Model.Student.Gender" class="form-control" name="gender" data-bv-field="gender"><i class="form-control-feedback" data-bv-field="gender" style="display: none;"></i>
                                            </div>
                                        </div>*@
                                     

                                        <div class="form-group has-feedback">
                                            <label class="col-lg-3 control-label">性别</label>
                                            <div class="col-lg-9">
                                                <div>
                                                    <select id="gender" name="gender" style="width: 100%;" data-placeholder="请选择性别" tabindex="-1">
                                                        <option value="请选择性别">请选择性别</option>
                                                        <option value="男" @(Model.Student.Gender == "0" ? "selected='selected'" : "")>男</option>
                                                        <option value="女" @(Model.Student.Gender == "1" ? "selected='selected'" : "")>女</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group has-feedback">
                                            <label class="col-lg-3 control-label">登录账号</label>
                                            <div class="col-lg-9">
                                                <input type="hidden" id="lblStudentId" value="@Model.Student.Id" />
                                                <input type="text" value="@Model.Student.UserName" class="form-control" name="loginId" data-bv-field="loginId"><i class="form-control-feedback" data-bv-field="jobTitle" style="display: none;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-9 col-lg-offset-3">
                                        <button type="submit" class="btn btn-blue">&nbsp;提&nbsp;&nbsp;&nbsp;&nbsp;交&nbsp;</button>
                                        <a href="@Url.Action("Student")" class="btn btn-default">&nbsp;返回列表&nbsp;</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- /Page Body -->
</div>

@*@using Abp.Threading.Extensions
@using Abp.Web.Mvc.Extensions
@model CourseSelecting.Web.Models.Manage.StudentDetailsModel

@{
    ViewBag.ActiveMenu = "About";
}

@section Styles
{
    @Html.IncludeStyle("~/beyondadmin/assets/css/dataTables.bootstrap.css")
}
@section Scripts
{
    @Html.IncludeScript("~/beyondadmin/assets/js/validation/bootstrapValidator.js")

    @Html.IncludeScript("~/Views/Manage/StudentEdit.js")
}


<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="@Url.Action("Index")">首页</a>
            </li>
            <li>
                <a href="@Url.Action("Student")">学生管理</a>
            </li>
            <li class="active">编辑学生</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                编辑学生
            </h1>
        </div>
        <!--Header Buttons-->
        <div class="header-buttons">
            <a class="sidebar-toggler" href="#">
                <i class="fa fa-arrows-h"></i>
            </a>
            <a class="refresh" id="refresh-toggler" href="">
                <i class="glyphicon glyphicon-refresh"></i>
            </a>
            <a class="fullscreen" id="fullscreen-toggler" href="#">
                <i class="glyphicon glyphicon-fullscreen"></i>
            </a>
        </div>
        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget  radius-bordered">
                    <div class="widget-header">
                        <span class="widget-caption"></span>
                    </div>
                    <div class="widget-body">
                        <div class="docs-example">
                            <ul class="nav nav-tabs tabs-flat">
                                <li class="active"><a href="#info-tab" data-toggle="tab">学生基础信息</a></li>
                            </ul>
                            <form id="formAddStudent" method="post" class="form-horizontal bv-form" novalidate="novalidate">
                                <div class="tab-content tabs-flat">
                                    <div class="tab-pane active" id="info-tab">
                                        <div class="form-group has-feedback">
                                            <label class="col-lg-3 control-label">学生学号</label>
                                            <div class="col-lg-9">
                                                <input type="hidden" id="lblStudentId" value="@Model.Student.Id" />
                                                <input type="text" value="@Model.Student.StudentNo" class="form-control" name="studentNo" data-bv-field="studentNo"><i class="form-control-feedback" data-bv-field="fullName" style="display: none;"></i>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label class="col-lg-3 control-label">学生姓名</label>
                                            <div class="col-lg-9">
                                                <input type="text" value="@Model.Student.Name" class="form-control" name="studentName" data-bv-field="studentName"><i class="form-control-feedback" data-bv-field="jobTitle" style="display: none;"></i>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label class="col-lg-3 control-label">院系</label>
                                            <div class="col-lg-9">
                                                <input type="text" value="@Model.Student.Department" class="form-control" name="department" data-bv-field="department"><i class="form-control-feedback" data-bv-field="jobTitle" style="display: none;"></i>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label class="col-lg-3 control-label">专业</label>
                                            <div class="col-lg-9">
                                                <input type="text" value="@Model.Student.Major" class="form-control" name="major" data-bv-field="major"><i class="form-control-feedback" data-bv-field="jobTitle" style="display: none;"></i>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label class="col-lg-3 control-label">性别</label>
                                            <div class="col-lg-9">
                                                <input type="text" value="@Model.Student.Gender" class="form-control" name="gender" data-bv-field="gender"><i class="form-control-feedback" data-bv-field="jobTitle" style="display: none;"></i>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label class="col-lg-3 control-label">登录账号</label>
                                            <div class="col-lg-9">
                                                <input type="text" value="@Model.Student.UserName" class="form-control" name="loginId" data-bv-field="loginId"><i class="form-control-feedback" data-bv-field="jobTitle" style="display: none;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-9 col-lg-offset-3">
                                        <button type="submit" class="btn btn-blue">&nbsp;提&nbsp;&nbsp;&nbsp;&nbsp;交&nbsp;</button>
                                        <a href="@Url.Action("Student")" class="btn btn-default">&nbsp;返回列表&nbsp;</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Body -->
</div>*@
